.App{
  display: flex;
  justify-content: center;
}
.weather-card-container{
  display: flex;
  border: 1px solid gray;
  width:fit-content;
  font-family: sans-serif;
}
.weather-card{
  display: grid;
  place-items: center;
  min-width:100px;
  padding:5px;
  color:gray;
}
.weather-card:nth-child(1){
  background-color: lightgray;
}

.temp-container{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  font-size: 18px;
}
.temp-max{
  color: black;
}